.TodoItem{
    color: #ffffff;
    margin: 10px;
    width: 500px;
    border: 3px solid white;
    background-color: rgb(68, 68, 205);
    list-style-type:none;
    position: relative;
    padding-left: 10px;
    padding-top: 2px;
}

.closeButton{
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
}


.modal-content{
    margin-top:10px;
    margin-bottom:10px;
}

.modal-table{
    border: 1px solid white;
    text-align:center;
    vertical-align: center;
}

.item-checkbox{
    width: 15px;
    height: 15px;
    clip-path: circle(46% at 50% 50%);   /* Set the clip path of circle*/
    vertical-align: middle;
    
}

.checked{
    color: greenyellow;
    text-decoration:wavy;
}

.item-description{
    display:inline-block;
    font-size: 1.3rem;
    margin-left: 10px;

}

.item-description:first-letter{
    text-transform: uppercase;
}